/* Prussian Blue: #0B3C5D */
/* Sky Blue: #328CC1 */
/* Gold Leaf: #D9B310 */
/* Ivory Black: #1D2731 */

body {
  /* color: red; */
  margin: 0px;
  border: 0px;
  padding: 0px;
  background-color: #FFCE00;
}

.album {
  padding-top: 90px;
  height: 400px;
}

.allFrame {
  margin: 0 10% 30px 10%;
  border: 1px solid lightgrey;
  padding: 20px 5% 70px 5%;
  background-color: white;
  width: 70%;
}

.tiltLeft {
  transform: rotate(-10deg);
}

.tiltRight {
  transform: rotate(10deg);
}

.frame1 {
  position: absolute;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1,end);
  animation-name: switchFrame1;
}

@keyframes switchFrame1 {
  0% {
    z-index: 2;
  }
  50% {
    z-index: 0;
  }
}

.frame2 {
  position: absolute;
  z-index: 1;
}

.allPhotos {
  width: 100%;
  padding-top: 100%;
}

.photo1 {
  background: url("../../img/home/photo_1.jpg");
  background-size: cover;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1,end);
  animation-name: switchPhoto1;
}

@keyframes switchPhoto1 {
  0% {
    background-image: url("../../img/home/photo_1.jpg");
  }
  50% {
    background-image: url("../../img/home/photo_3.jpg");
  }
}

.photo2 {
  background-image: url("../../img/home/photo_4.jpg");
  background-size: cover;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1,end);
  animation-name: switchPhoto2;
}

@keyframes switchPhoto2 {
  0% {
    background-image: url("../../img/home/photo_4.jpg");
  }
  25% {
    background-image: url("../../img/home/photo_2.jpg");
  }
  75% {
    background-image: url("../../img/home/photo_4.jpg");
  }
}

.titleBox {
  color: yellow;
  background-color: #0B3C5D;
}

.homeTitle {
  font-size: 4rem;
  font-family: "Belleza", sans-serif;
  text-align: center;
}

.homeSubtitle {
  padding: 0 10% 15px 10%;
  font-size: 1.5rem;
  font-family: "Belleza", sans-serif;
  text-align: center;
}

.menu {
  position: fixed;
  width: 100%;
  visibility: hidden;
  cursor: pointer;
}

.menuBox {
  z-index: 3;
  font-family: "Pontano Sans", sans-serif;
}

.menuOption {
  border-bottom: 1px solid yellow;
  padding: 10px 0 10px 5%;
  color: yellow;
  background-color: #0B3C5D;
}

.menuBttn {
  border-bottom: 3px solid #0B3C5D;
  padding: 10px 0;
  top: 0;
  color: #0B3C5D;
  font-family: "Julius Sans One", sans-serif;
  font-size: 1.3rem;
  text-align: center;
  background-color: #FFCE00;
  z-index: 4;
}
