body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #F2CA46;
}

.topBanner {
  display: flex;
  justify-content: flex-end;
}

.logOutBttn {
  font-size: 1rem;
  color: white;
  background-color: red;
}

.mainTitle {
  margin: 20px 0;
  padding: 10px 0;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  background-color: #328CC1;
}

.adminMssg {
  margin: 20px 10%;
  font-size: 1.1rem;
  text-align: center;
}

.newBox {
  margin: 0 5% 50px 5%;
}

.newBttn {
  padding: 10px 0;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: 1.4rem;
  background-color: #8EAB7B;
  width: 40%;
  cursor: pointer;
}

.newMain {
  padding: 5px 0 15px 0;
  border-radius: 0 10px 10px 10px;
  display: none;
  background-color: grey;
}

.newEntry {
  margin-bottom: 10px;
  margin-left: 2%;
  border: 0px;
  padding: 2px 1%;
  display: block;
  font-size: 1.2rem;
  width: 94%;
}

textarea.newEntry {
  overflow-y: scroll;
  height: 300px;
}

.newClick {
  margin-left: 25%;
  color: white;
  text-align: center;
  font-size: 1.3rem;
  background-color: #328CC1;
  width: 50%;
}
